.box-tit{
font-size: large;
font-style: italic;
text-align: center;
background-color: lightsteelblue;
background-image: url(../multimedia/galeria/iconotext5.png);
background-repeat: no-repeat;
background-size: 25%;
background-position-x: center;
background-position: center;
background-blend-mode: overlay;    
   }